<div layout="row">
    <div layout="column" layout-gt-md="row">
        <date-time-input
                data-label="{{ ::'START_DATE' | translate }}"
                data-ng-model="vm.startDateTime"
        ></date-time-input>

        <date-time-input
                data-label="{{ ::'END_DATE' | translate }}"
                data-ng-model="vm.endDateTime"
        ></date-time-input>
    </div>

    <generic-filter
        data-collection="vm.ranges"
        data-ng-model="vm.dateRangePreSelect"
        data-action="filters/date/ranges"
        data-label="{{ ::'DATE_RANGE_PRESELECT' | translate }}"
    ></generic-filter>
</div>