<md-card>
    <md-progress-linear
            md-mode="determinate"
            value="{{ vm.time }}"
            data-ng-show="vm.time > 0"
    ></md-progress-linear>

    <md-card-title>
        <md-card-title-text>
            <span class="md-headline" layout="row" layout-align="start center" flex>
                {{ ::'DANGER_ZONE' | translate }}
                <span flex></span>
                <md-switch data-ng-model="vm.enabled"></md-switch>
            </span>
        </md-card-title-text>
    </md-card-title>

    <div layout-padding>
        <md-input-container>
            <md-button class="md-warn md-raised"
                       data-ng-disabled="!vm.enabled"
                       data-ng-click="vm.getApiToken()"
            >
                {{ ::'GET_API_TOKEN' | translate }}
            </md-button>
        </md-input-container>


        <md-input-container flex>
            <span>{{ vm.apiToken }}</span>
        </md-input-container>
    </div>

    <form data-ng-submit="vm.save()" data-ng-disabled="!vm.enabled">
        <md-card-content>
            <span>{{ 'CHANGE_PASSWORD' | translate }}</span>
            <md-input-container class="md-block" flex>
                <label>{{ ::'OLD_PASSWORD' | translate }}</label>
                <input id="user_settings_old_password" type="password"
                       data-ng-model="vm.form.oldPassword"
                       data-ng-disabled="vm.loading"
                />
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>{{ ::'NEW_PASSWORD' | translate }}</label>
                <input id="user_settings_new_password" type="password"
                       data-ng-model="vm.form.newPassword"
                       data-ng-disabled="vm.loading"
                />
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>{{ ::'NEW_PASSWORD_AGAIN' | translate }}</label>
                <input id="user_settings_new_password_again" type="password"
                       data-ng-model="vm.form.newPasswordAgain"
                       data-ng-disabled="vm.loading"
                />
            </md-input-container>

            <md-card-actions layout="row" layout-align="end center">
                <md-button id="btn_danger_zone_save" class="md-primary md-raised"
                           data-ng-disabled="vm.loading || !vm.enabled"
                           type="submit"
                >
                    {{ ::'SAVE' | translate }}
                </md-button>
            </md-card-actions>
        </md-card-content>
    </form>
</md-card>