<md-card data-ng-init="vm.load()">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ ::'USER_SETTINGS' | translate }}</span>
        </md-card-title-text>
    </md-card-title>
    <form data-ng-submit="vm.save()">
        <md-card-content>
            <md-input-container class="md-block" flex>
                <label>{{ ::'USERNAME' | translate }}</label>
                <input id="user_settings_username" type="text"
                       data-ng-model="vm.form.username"
                       data-ng-disabled="vm.loading"
                />
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>{{ ::'FIRST_NAME' | translate }}</label>
                <input id="user_settings_firstname" type="text"
                       data-ng-model="vm.form.firstname"
                       data-ng-disabled="vm.loading"
                />
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>{{ ::'LAST_NAME' | translate }}</label>
                <input id="user_settings_lastname" type="text"
                       data-ng-model="vm.form.lastname"
                       data-ng-disabled="vm.loading"
                />
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>{{ ::'EMAIL' | translate }}</label>
                <input id="user_settings_email" type="text"
                       data-ng-model="vm.form.email"
                       data-ng-disabled="vm.loading"
                />
            </md-input-container>
            <md-card-actions layout="row" layout-align="end center">
                <md-button id="btn_user_settings_save"
                           class="md-primary md-raised"
                           data-ng-disabled="vm.loading"
                           type="submit">
                    {{ ::'SAVE' | translate }}
                </md-button>
            </md-card-actions>

        </md-card-content>
    </form>

</md-card>