<!DOCTYPE html>
<html lang="en" data-ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Hillevi</title>
    <link rel="stylesheet" type="text/css" href="build/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="build/hillevi-front.min.css" />
    <link rel="stylesheet" type="text/css" href="build/material-icons/material-icons.css">
</head>

<body data-ng-controller="AppController as vm" layout="column" ng-cloak>

<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>{{ 'APP_NAME' | translate }}</span>
        </h2>
        <span flex></span>

        <md-button class="md-icon-button"
                   data-ng-click="vm.toggleSocket()"
        >
            <md-tooltip>
                {{ (vm.connected ? 'TT_REALTIME_CONNECTION_OPEN' : 'TT_REALTIME_CONNECTION_CLOSED') | translate }}
            </md-tooltip>
            <md-icon>{{ vm.connected ? 'network_wifi' : 'signal_wifi_off' }}</md-icon>
        </md-button>

        <md-button class="md-icon-button"
                   data-ng-href="#/notifications"
        >
            <md-tooltip>{{ 'TT_NOTIFICATIONS' | translate }}</md-tooltip>
            <md-icon>notifications</md-icon>
        </md-button>
        <md-button class="md-icon-button"
                   aria-label="Settings"
        >
            <md-tooltip>{{ 'TT_USER_SETTINGS' | translate }}</md-tooltip>
            <a href="#/settings"><span class="material-icons">face</span></a>
        </md-button>
        <md-button class="md-icon-button"
                   aria-label="Logout"
                   data-ng-if="vm.user"
                   data-ng-click="vm.logout()"
        >
            <md-tooltip>{{ 'TT_LOGOUT' | translate }}</md-tooltip>
            <span class="material-icons">close</span>
        </md-button>
    </div>
</md-toolbar>

<md-progress-linear
        class="top absolute bring-front md-warn"
        md-mode="indeterminate"
        data-ng-if="vm.loading"
></md-progress-linear>

<md-content layout="column" flex>
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left"
                    md-component-id="left"
                    md-is-locked-open="true"
                    md-whiteframe="4"
                    data-ng-if="vm.user"
        >
            <data-ng-include src="'web/templates/avatar.html'"></data-ng-include>
            <data-ng-include src="'web/templates/sidemenu.html'"></data-ng-include>
        </md-sidenav>

        <data-ng-view flex class="layout-padding" style="overflow-y: scroll;"></data-ng-view>
    </div>
</md-content>
</body>

<script src="build/vendor.min.js" type="text/javascript"></script>
<script src="build/hillevi-front.min.js" type="text/javascript"></script>

</html>