<!DOCTYPE html>
<html lang="en" data-ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Hillevi</title>
    <link rel="stylesheet" type="text/css" href="build/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="build/hillevi-front.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body data-ng-controller="AppController as vm" layout="column" ng-cloak>

<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>{{ 'APP_NAME' | translate }}</span>
        </h2>
        <span flex></span>

        <md-button class="md-icon-button"
                   aria-label="Settings"
        >
            <a href="#/settings"><span class="material-icons">face</span></a>
        </md-button>
        <md-button class="md-icon-button"
                   aria-label="Logout"
                   data-ng-if="vm.user"
                   data-ng-click="vm.logout()"
        >
            <span class="material-icons">close</span>
        </md-button>
    </div>
</md-toolbar>

<md-progress-linear
        class="top absolute bring-front md-warn"
        md-mode="indeterminate"
        data-ng-if="vm.loading"
></md-progress-linear>

<md-content layout="column" flex>
    <div layout="row" flex>
        <md-sidenav class="md-sidenav-left"
                    md-component-id="left"
                    md-is-locked-open="true"
                    md-whiteframe="4"
                    data-ng-if="vm.user"
        >
            <data-ng-include src="'web/templates/avatar.html'"></data-ng-include>
            <data-ng-include src="'web/templates/sidemenu.html'"></data-ng-include>
        </md-sidenav>

        <data-ng-view flex class="layout-padding" style="overflow-y: scroll;"></data-ng-view>
    </div>
</md-content>
</body>

<script src="build/vendor.min.js" type="text/javascript"></script>
<script src="build/hillevi-front.min.js" type="text/javascript"></script>

</html>