<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ ::vm.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button"
                       data-ng-click="vm.cancel()"
            >
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <form name="form">
        <md-dialog-content>
            <ng-transclude></ng-transclude>
        </md-dialog-content>

        <md-content layout="row"
                    layout-align="end center"
        >
            <md-button id="btn_dialog_cancel" data-ng-click="vm.cancel()"
                       data-ng-if="vm.backButton != 'false'"
            >
                {{ ::(vm.backButton || 'CANCEL') | translate }}
            </md-button>

            <md-button id="btn_dialog_save" class="md-primary md-raised"
                       data-ng-click="vm.save()"
                       data-ng-disabled="form.$invalid"
            >
                {{ ::(vm.okButton || 'SAVE') | translate }}
            </md-button>
        </md-content>
    </form>
</div>
