<md-content layout="column" flex layout-fill
            data-ng-controller="ApiManager.MainController as vm"
            data-ng-init="vm.load()"
>
    <md-content layout="column" flex md-whiteframe="4">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <span>{{ ::'LIST_OF_APIS' | translate }}</span>

                <span flex></span>

                <md-button class="md-icon-button"
                           data-ng-click="vm.load()"
                >
                    <md-icon>autorenew</md-icon>
                </md-button>

                <md-button class="md-icon-button"
                           data-ng-click="vm.createNewApi($event)"
                >
                    <md-icon>add</md-icon>
                </md-button>

                <md-button class="md-icon-button"
                           data-ng-disabled="vm.selected.length < 1"
                           data-ng-click="vm.removeApis()"
                >
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="row" flex>
            <loader data-ng-if="vm.loading"></loader>
            <md-content layout="column" flex>
                <md-table-container layout="column" flex>
                    <table md-table md-row-select
                           data-ng-model="vm.selected"
                    >
                        <thead md-head>
                            <tr md-row>
                                <th md-column><span>{{ ::'NAME' | translate }}</span></th>
                                <th md-column class="text-center"><span>{{ ::'ACTIVE' | translate }}</span></th>
                                <th md-column><span>{{ ::'URL' | translate }}</span></th>
                                <th md-column><span>{{ ::'TYPE' | translate }}</span></th>
                                <th md-column><span>{{ ::'LAST_UPDATE' | translate }}</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-auto-select
                                data-ng-repeat="api in vm.data"
                                md-select="api"
                                md-select-id="name"
                                md-on-select="vm.onSelect"
                                md-on-deselect="vm.onDeselect"
                            >
                                <td md-cell>{{ ::api.name }}</td>
                                <td md-cell class="text-center">
                                    <md-icon>{{ ::api.active ? 'play_arrow' : 'pause' }}</md-icon>
                                </td>
                                <td md-cell>{{ ::api.url }}</td>
                                <td md-cell>{{ ::api.type }}</td>
                                <td md-cell>{{ ::api.lastUpdate | apiDate | date:'dd.MM.yyyy' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="30"
                                     md-limit-options="[30, 50, 100]"
                                     md-page="vm.page"
                                     md-total="{{ vm.data.length }}"
                                     md-on-paginate="getApis"
                                     md-page-select
                ></md-table-pagination>
            </md-content>

            <md-sidenav class="md-sidenav-right"
                        md-component-id="right"
                        md-is-locked-open="true"
                        md-whiteframe="4"
                        layout-padding
            >
                <form data-ng-submit="vm.save()">
                    <md-input-container class="md-block" flex>
                        <label>{{ ::'NAME' | translate }}</label>
                        <input type="text" data-ng-model="vm.api.name" data-ng-disabled="!vm.api"/>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label>{{ ::'URL' | translate }}</label>
                        <input type="text" data-ng-model="vm.api.url" data-ng-disabled="!vm.api" />
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label>{{ ::'TYPE' | translate }}</label>
                        <input type="text" data-ng-model="vm.api.type" data-ng-disabled="!vm.api" />
                    </md-input-container>

                    <md-content layout="row" layout-align="end center">
                        <md-button data-ng-click="vm.cancel()" data-ng-disabled="!vm.api">
                            {{ ::'CANCEL' | translate }}
                        </md-button>
                        <md-button type="submit" data-ng-disabled="!vm.api">
                            {{ ::'SAVE' | translate }}
                        </md-button>
                    </md-content>
                </form>
            </md-sidenav>
        </md-content>
    </md-content>
</md-content>