<md-sidemenu locked="true">
    <md-sidemenu-group>
        <md-subheader class="md-no-sticky">
            {{ ::'DIAGNOSTICS' | translate }}
        </md-subheader>

        <md-sidemenu-button href="#/dashboard">
            <md-icon>dashboard</md-icon>
            <span>{{ ::'DASHBOARD' | translate }}</span>
        </md-sidemenu-button>

        <md-sidemenu-button href="#/graph">
            <md-icon>timeline</md-icon>
            <span>{{ ::'GRAPH' | translate }}</span>
        </md-sidemenu-button>

        <md-sidemenu-content
                md-icon="timeline"
                md-heading="{{ ::'DIAGRAMS' | translate }}"
                md-arrow="true"
        >
            <md-sidemenu-button href="#/diagrams/trend">
                <span>{{ ::'TREND' | translate }}</span>
            </md-sidemenu-button>
        </md-sidemenu-content>

        <md-sidemenu-content
                md-icon="mouse"
                md-heading="{{ ::'INSPECTOR' | translate }}"
                md-arrow="true"
        >
            <md-sidemenu-content
                    md-heading="{{ ::'INSPECTOR_APPLICATIONS' | translate }}"
                    md-arrow="true"
            >
                <md-sidemenu-button href="#/inspector/apps">
                    <span>{{ ::'INSPECTOR_APPLICATION_REPORT' | translate }}</span>
                </md-sidemenu-button>

                <md-sidemenu-button href="#/inspector/apps/usage-per-time">
                    <span>{{ ::'INSPECTOR_APPLICATION_LOAD_PER_TIME' | translate }}</span>
                </md-sidemenu-button>
            </md-sidemenu-content>

            <md-sidemenu-content
                    md-heading="{{ ::'INSPECTOR_KEYBOARD' | translate }}"
                    md-arrow="true"
            >
                <md-sidemenu-button href="#/inspector/keyboard/summary">
                    <span>{{ ::'INSPECTOR_KEYBOARD_SUMMARY' | translate }}</span>
                </md-sidemenu-button>

                <md-sidemenu-button href="#/inspector/keyboard/keyboard-load-chart">
                    <span>{{ ::'INSPECTOR_KEYBOARD_LOAD_CHART' | translate }}</span>
                </md-sidemenu-button>
            </md-sidemenu-content>

            <md-sidemenu-content
                    md-heading="{{ ::'INSPECTOR_MOUSE' | translate }}"
                    md-arrow="true"
            >
                <md-sidemenu-button href="#/inspector/mouse/path">
                    <span>{{ ::'INSPECTOR_MOUSE_PATH' | translate }}</span>
                </md-sidemenu-button>

            </md-sidemenu-content>

        </md-sidemenu-content>
    </md-sidemenu-group>

    <md-sidemenu-group>
        <md-subheader class="md-no-sticky">
            {{ ::'MANAGEMENT' | translate }}
        </md-subheader>

        <md-sidemenu-button href="#/apis">
            <md-icon>leak_add</md-icon>
            <span>{{ ::'API_MANAGEMENT' | translate }}</span>
        </md-sidemenu-button>

        <md-sidemenu-content
                md-icon="list"
                md-heading="{{ ::'API_DATA_MANAGEMENT' | translate }}"
                md-arrow="true"
        >
            <md-sidemenu-button href="#/apidator">
                <span>{{ ::'MANUAL_API_ROW_MANAGEMENT' | translate }}</span>
            </md-sidemenu-button>
        </md-sidemenu-content>
    </md-sidemenu-group>

    <md-sidemenu-group data-if-setting="appsetting:*:*">
        <md-subheader class="md-no-sticky">
            {{ ::'APPLICATION_SETTINGS' | translate }}
        </md-subheader>

        <md-sidemenu-button href="#/appsettings/users"
                            data-if-setting="appsetting:users:*"
        >
            <md-icon>face</md-icon>
            <span>{{ ::'USERS' | translate }}</span>
        </md-sidemenu-button>

        <md-sidemenu-button href="#/appsettings/permissions"
                            data-if-setting="appsetting:permissions:*"
        >
            <md-icon>accessible</md-icon>
            <span>{{ ::'PERMISSIONS' | translate }}</span>
        </md-sidemenu-button>
    </md-sidemenu-group>
</md-sidemenu>