<div class="widget" layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>{{ ::vm.title }}</span>
            </h2>

            <span flex></span>

            <md-button class="md-icon-button"
                       data-ng-click="vm.refresh()"
            >
                <md-icon>autorenew</md-icon>
            </md-button>

            <md-button class="md-icon-button"
                       data-ng-click="vm.openSettings()"
            >
                <md-icon>settings</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <!-- TODO: refactor this to be done in somewhere more specific widget and maintain this as a generic widget -->
    <md-content layout-padding layout="column" layout-align="center center" flex>
        <canvas id="line" class="chart chart-bar"
                data-chart-data="vm.data"
                data-chart-labels="vm.labels"
        ></canvas>
    </md-content>

    <ng-transclude></ng-transclude>
</div>