.user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.user-info {
    line-height: 12px;
}

.widget {
    background: rgb(255, 255, 255);
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.top {
    top: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.layout-fill-x {
    min-width: 100% !important;
}

.md-row:focus {
    outline: none !important;
}

loader {
    position: absolute;
    z-index: 10000;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.md-loader md-progress-circular {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.md-sidenav-large {
    width: 420px !important;
}

.md-sub-toolbar {
    height: 40px !important;
    min-height: 40px !important;
}

.md-sub-toolbar .md-toolbar-tools {
    height: 40px;
}

md-input-container.no-whitespace {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    height: 100%;
}

md-input-container.no-whitespace input {
    height: 100%;
    position: relative;
    border-bottom: none;
}

.md-date-time-picker-button {
    margin-top: -16px !important;
}