<md-card flex>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline-small">
                {{ vm.title }}
            </span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content layout="row" layout-align="center">
        <canvas class="chart-base"
                data-chart-type="vm.chartType || 'line'"
                data-chart-data="vm.model.data"
                data-chart-labels="vm.model.labels"
        ></canvas>
    </md-card-content>
</md-card>