<md-content layout="column" data-ng-controller="KeyboardLoadController as vm">
    <loader data-ng-if="vm.loading"></loader>

    <h1 class="md-headline">{{ ::'TITLE_KEYBOARD_LOAD_CHART' | translate }}</h1>

    <md-content layout="column" layout-align="start">
        <div layout="row" layout-align="start center" flex>
            <date-time-range-input
                    data-start-date-time="vm.filters.startDate"
                    data-end-date-time="vm.filters.endDate"
                    data-date-range-pre-select="vm.filters.preSelect"
            ></date-time-range-input>

            <span flex></span>

            <md-input-container>
                <md-button class="md-raised md-primary"
                           data-ng-click="vm.load()"
                >
                    {{ ::'SEARCH' | translate }}
                </md-button>
            </md-input-container>
        </div>
    </md-content>

    <div class="kboard" layout="column" flex>
        <div layout="row" flex data-ng-repeat="row in vm.layout">
            <div data-ng-class="{ kbutton: button.text !== '', kspace: button.text === ''}"
                 flex="{{ ::button.cols * 5 }}"
                 data-load-bgc="vm.data[button.key].mapped"
                 data-ng-repeat="button in row"
            >
                <span>{{ ::button.text }}</span>
                <md-tooltip>{{ vm.data[button.key].original }}</md-tooltip>
            </div>
        </div>
    </div>

</md-content>