<md-content data-ng-app="Graph"
            data-ng-controller="Graph.MainController as vm"
            layout="column"
            layout-fill
            flex
>
    <md-content layout="row">
        <md-input-container flex="20">
            <label>{{ ::'SHOWN_COLUMNS' | translate }}</label>
            <md-select
                    id="input_graph_selected_columns"
                    multiple
                    data-ng-model="vm.graph.columns"
                    aria-label="{{ ::'TYPE' | translate }}"
                    required
            >
                <md-option value="{{ column }}"
                           data-ng-repeat="column in vm.columns track by $index"
                >
                    {{ ::column.field }} ({{ ::column.api }})
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>{{ ::'GRAPH_TYPE' | translate }}</label>
            <md-select
                    id="input_graph_type"
                    data-ng-model="vm.graph.type"
                    aria-label="{{ ::'TYPE' | translate }}"
                    required
            >
                <md-option value="{{ option.id }}"
                           data-ng-repeat="option in vm.graphTypes track by option.id"
                >
                    {{ ::option.name | translate }}
                </md-option>
            </md-select>
        </md-input-container>

        <date-time-picker
                data-label="{{ ::'START_DATE '| translate }}"
                data-ng-model="vm.startDateTime"
        ></date-time-picker>

        <date-time-picker
                data-label="{{ ::'END_DATE '| translate }}"
                data-ng-model="vm.endDateTime"
        ></date-time-picker>

        <span flex></span>
        <md-input-container>
            <label>{{ ::'SAVED_GRAPH_SETTINGS' | translate }}</label>
            <md-select
                    id="input_saved_graph_settings"
                    data-ng-model="vm.setting"
                    aria-label="{{ ::'TYPE' | translate }}"
            >
                <md-option value="{{ setting.id }}"
                           data-ng-repeat="setting in vm.savedSettings track by setting.id"
                >
                    {{ ::setting.name }}
                </md-option>
            </md-select>
        </md-input-container>
    </md-content>

    <md-content layout="row" layout-align="end center"layout-margin>
        <md-button class="md-primary md-raised"
                   data-ng-click="vm.reset()"
        >
            {{ ::'RESET_CHART_SETTINGS' | translate }}
        </md-button>

        <md-button class="md-primary md-raised"
                   data-ng-click="vm.load()"
        >
            {{ ::'FETCH_CHART_DATA' | translate }}
        </md-button>
    </md-content>

    <loader data-ng-if="vm.loading"></loader>

    <md-content flex layout="column" flex>
        <canvas id="canvas_graph_interface_main"
                class="chart-line"
                data-chart-data="vm.data.data"
                data-chart-labels="vm.data.labels"
        ></canvas>
    </md-content>
</md-content>