<md-content data-ng-app="Dashboard"
            data-ng-controller="Dashboard.MainController as vm"
            layout="column"
            flex
>
    <div layout="column" layout-gt-sm="row" flex>
        <progress-card
                data-title="{{ ::'ACTIVITY_PERCENTAGE' | translate }}"
                data-progress="vm.data.activityPercentage"
                data-unit="%"
        ></progress-card>

        <progress-card
                data-title="{{ ::'ONLINE_PERCENTAGE' | translate }}"
                data-progress="vm.data.onlinePercentage"
                data-unit="%"
        ></progress-card>

        <progress-card
                data-title="{{ ::'ONLINE_PERCENTAGE' | translate }}"
                data-unit="%"
        ></progress-card>
    </div>

    <div layout="column" layout-gt-sm="row" flex>
        <chart-card
                data-title="{{ ::'TYPING_SPEED' | translate }}"
                data-model="vm.data.typingSpeed"
                data-url="inspector/keyboard/typing/speed"
        ></chart-card>
    </div>

</md-content>