<md-content data-ng-app="Dashboard"
            data-ng-controller="Dashboard.MainController as vm"
            layout="column"
            flex
>
    <div layout="column" layout-gt-sm="row" flex>
        <progress-card
                data-title="{{ ::'ACTIVITY_PERCENTAGE' | translate }}"
                data-url="inspector/computer/activity/online"
                data-param="percentage"
                data-unit="%"
                data-info="{{ ::'ACTIVITY_PERCENTAGE_INFO' | translate }}"
        ></progress-card>

        <progress-card
                data-title="{{ ::'ACTIVITY_PER_DAY' | translate }}"
                data-url="inspector/computer/activity/total"
                data-param="percentage"
                data-unit="%"
                data-info="{{ ::'ACTIVITY_PER_DAY_INFO' | translate }}"
        ></progress-card>
    </div>

    <div layout="column" layout-gt-sm="row" flex>
        <chart-card
                data-title="{{ ::'TYPING_SPEED' | translate }}"
                data-model="vm.data.typingSpeed"
                data-url="inspector/keyboard/typing/speed"
        ></chart-card>
    </div>

</md-content>