<md-content layout="column" layout-fill flex
            data-ng-controller="KeyboardSummaryMainController as vm"
>
    <loader data-ng-if="vm.loading"></loader>

    <h1 class="md-headline">{{ ::'TITLE_KEYBOARD_SUMMARY_REPORT' | translate }}</h1>

    <md-content layout="column">
        <div layout="row" flex layout-align="start center">
            <date-time-range-input
                data-start-date-time="vm.filters.startDate"
                data-end-date-time="vm.filters.endDate"
                data-date-range-pre-select="vm.filters.preSelect"
            ></date-time-range-input>

            <span flex></span>

            <md-input-container>
                <md-button class="md-raised md-primary"
                           data-ng-click="vm.load()"
                >
                    {{ ::'SEARCH' | translate }}
                </md-button>
            </md-input-container>
        </div>
    </md-content>

    <md-content layout="column" flex>
        <div layout="column" layout-gt-sm="row">
            <simple-card data-title="{{ ::'KEYS_TYPED_TOTAL' | translate }}"
                         data-model="vm.data.totalKeysTyped"
                         data-ng-if="vm.data.totalKeysTyped"
                         data-unit="{{ ::'UNIT_COUNT' | translate }}"
            ></simple-card>

            <simple-card data-title="{{ ::'AVG_TYPING_SPEED' | translate }}"
                         data-model="vm.data.averageTypingSpeed"
                         data-ng-if="vm.data.averageTypingSpeed"
                         data-unit="{{ ::'UNIT_ONE_PER_SECOND' | translate }}"
            ></simple-card>
        </div>

        <div layout="column" layout-gt-sm="row">
            <simple-card data-title="{{ ::'AVG_KEY_PRESS_DURATION' | translate }}"
                         data-model="vm.data.averageKeyPressDuration"
                         data-ng-if="vm.data.averageKeyPressDuration"
                         data-unit="{{ ::'UNIT_MILLISECONDS' | translate }}"
            ></simple-card>

            <simple-card data-title="{{ ::'TOTAL_PASTED_AMOUNT' | translate }}"
                         data-model="vm.data.totalPasted"
                         data-ng-if="vm.data.totalPasted"
                         data-unit="{{ ::'UNIT_COUNT' | translate }}"
            ></simple-card>
        </div>

        <div layout="column" layout-gt-sm="row">
            <transclude-card data-title="{{ ::'TOP_KEY_COMBOS' | translate }}"
                             data-ng-if="vm.data.keyCombos"
            >
                <md-list>
                    <md-list-item data-ng-repeat="combo in vm.data.keyCombos | limitTo:5">
                        <span>{{ ::combo.combo }}</span>
                        <span flex></span>
                        <span>{{ ::combo.amount }} {{ ::'UNIT_COUNT' | translate }}</span>
                    </md-list-item>
                </md-list>
            </transclude-card>
        </div>
    </md-content>
</md-content>